*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;

  background-image: url("../img/background.jpg");
  background-repeat: repeat-y;
}

main {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: flex-start;
  background-color: rgba(256, 256, 256, 0.3);
}

.all-ships {
  grid-row: 2;
}

.selected-ships {
  grid-row: 1/3;
}

/* Поле поиска */

.searching {
  padding: 15px 20px;
}

.searching-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
}

.searching-form__label {
  width: 32%;
  margin-bottom: 15px;
}

.searching-form__label--name {
  width: 100%;
}

.searching-form select {
  width: 100%;
  height: 40px;
  font-size: inherit;
  line-height: inherit;
  border-radius: 10px;
}

#name {
  width: 100%;
  height: 40px;
  font-size: inherit;
  line-height: inherit;
  border-radius: 10px;
}

/* Список всех кораблей */

.all-ships {
  padding: 50px 20px;
  border-top: 1px solid black;
}

.all-ships__list,
.selected-ships__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.all-ships__item,
.selected-ships__item {
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.all-ships__item:hover,
.selected-ships__item:hover {
  box-shadow: 3px 3px 3px green;
}

.ship {
  position: relative;
  font-size: 25px;
}

.ship-image {
  width: 300px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 20px;
}

.ship-wrapper {
  position: absolute;
  background-color: rgba(256, 256, 256, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
}

.ship-wrapper p {
  margin: 0;
}

.ship-title {
  flex-basis: 100%;
  margin: 0;
  width: fit-content;
}

.ship-type {
  position: relative;
  padding-left: 15px;
}

.ship-type::before {
  position: absolute;
  content: "/";
  left: 5px;
}

.ship-wrapper .ship-level {
  margin-top: auto;
}

.ship-delete {
  position: absolute;
  content: "";
  width: 30px;
  height: 25px;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.ship-delete::after,
.ship-delete::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 10px;
  right: 0;
  background-color: black;
}

.ship-delete::after {
  transform: rotate(45deg);
}

.ship-delete::before {
  transform: rotate(-45deg);
}

.all-ships__item .ship-delete {
  display: none;
}

/* Выбранные корабли */

.selected-ships {
  border-left: 1px solid black;

  position: fixed;
  right: 0;
  width: 30%;
  padding: 15px 2%;
  height: 100vh;
  overflow: auto;

  font-size: 25px;
}
